<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Mumbai.css">
    <title>Mumbai</title>
</head>
<style>

</style>

<body>
    <!-- First Part Mumbai -->

    <div class="container">
        <div class="gmim">
            <img src="/static/images/MUMBAI.jpg" class="rounded float-start" alt="...">
            <h4>MUMBAI</h4>
        </div>
        <div class="leng">
            <div class="hotels">
                <div class="gmi">
                    <img src="/static/images/Novotel.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Novotel</h5>
                        <p class="money">$6000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/trident.jpg" class="rounded float-start" alt="...">
                    <div class="hotelname">
                        <h5>Trident</h5>
                        <p class="money">$9000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/the-waterstones-hotel.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Waterfall</h5>
                        <p class="money">$4500/day</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Part Goa -->

    <div class="container">
        <div class="gmim">
            <img src="/static/images/Farm-House.jpg" class="rounded float-start" alt="...">
            <h4 id="Go">Goa</h4>
        </div>
        <div class="leng">
            <div class="hotels">
                <div class="gmi">
                    <img src="/static/images/Restaurant.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Capella</h5>
                        <p class="money">$6000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/Jai-hotel.jpg" class="rounded float-start" alt="...">
                    <div class="hotelname">
                        <h5>Aristar</h5>
                        <p class="money">$9000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/Jai-bed.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Ashray</h5>
                        <p class="money">$4500/day</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Third Part Mumbai -->

    <div class="container">
        <div class="gmim">
            <img src="/static/images/MUMBAI.jpg" class="rounded float-start" alt="...">
            <h4>Ahmedabad</h4>
        </div>
        <div class="leng">
            <div class="hotels">
                <div class="gmi">
                    <img src="/static/images/Novotel.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Novotel</h5>
                        <p class="money">$6000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/trident.jpg" class="rounded float-start" alt="...">
                    <div class="hotelname">
                        <h5>Trident</h5>
                        <p class="money">$9000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/the-waterstones-hotel.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Waterfall</h5>
                        <p class="money">$4500/day</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Fourth Part -->

    <div class="container">
        <div class="gmim">
            <img src="/static/images/Farm-House.jpg" class="rounded float-start" alt="...">
            <h4 id="Go">Jaipur</h4>
        </div>
        <div class="leng">
            <div class="hotels">
                <div class="gmi">
                    <img src="/static/images/Restaurant.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Capella</h5>
                        <p class="money">$6000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/Jai-hotel.jpg" class="rounded float-start" alt="...">
                    <div class="hotelname">
                        <h5>Aristar</h5>
                        <p class="money">$9000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/Jai-bed.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Ashray</h5>
                        <p class="money">$4500/day</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 2nd Quadrant -->

    <div class="container">
        <div class="gmim">
            <img src="/static/images/MUMBAI.jpg" class="rounded float-start" alt="...">
            <h4>MUMBAI</h4>
        </div>
        <div class="leng">
            <div class="hotels">
                <div class="gmi">
                    <img src="/static/images/Novotel.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Novotel</h5>
                        <p class="money">$6000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/trident.jpg" class="rounded float-start" alt="...">
                    <div class="hotelname">
                        <h5>Trident</h5>
                        <p class="money">$9000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/the-waterstones-hotel.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Waterfall</h5>
                        <p class="money">$4500/day</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Part Goa -->

    <div class="container">
        <div class="gmim">
            <img src="/static/images/Farm-House.jpg" class="rounded float-start" alt="...">
            <h4 id="Go">Goa</h4>
        </div>
        <div class="leng">
            <div class="hotels">
                <div class="gmi">
                    <img src="/static/images/Restaurant.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Capella</h5>
                        <p class="money">$6000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/Jai-hotel.jpg" class="rounded float-start" alt="...">
                    <div class="hotelname">
                        <h5>Aristar</h5>
                        <p class="money">$9000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/Jai-bed.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Ashray</h5>
                        <p class="money">$4500/day</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Third Part Mumbai -->

    <div class="container">
        <div class="gmim">
            <img src="/static/images/MUMBAI.jpg" class="rounded float-start" alt="...">
            <h4>Ahmedabad</h4>
        </div>
        <div class="leng">
            <div class="hotels">
                <div class="gmi">
                    <img src="/static/images/Novotel.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Novotel</h5>
                        <p class="money">$6000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/trident.jpg" class="rounded float-start" alt="...">
                    <div class="hotelname">
                        <h5>Trident</h5>
                        <p class="money">$9000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/the-waterstones-hotel.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Waterfall</h5>
                        <p class="money">$4500/day</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Fourth Part -->

    <div class="container">
        <div class="gmim">
            <img src="/static/images/Farm-House.jpg" class="rounded float-start" alt="...">
            <h4 id="Go">Jaipur</h4>
        </div>
        <div class="leng">
            <div class="hotels">
                <div class="gmi">
                    <img src="/static/images/Restaurant.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Capella</h5>
                        <p class="money">$6000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/Jai-hotel.jpg" class="rounded float-start" alt="...">
                    <div class="hotelname">
                        <h5>Aristar</h5>
                        <p class="money">$9000/day</p>
                    </div>
                </div>
                <div class="gmi">
                    <img src="/static/images/Jai-bed.jpg" class="rounded float-end" alt="...">
                    <div class="hotelname">
                        <h5>Ashray</h5>
                        <p class="money">$4500/day</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>